{% extends 'base.html' %}
{% block title %}Productos - Juma Joyas{% endblock %}
{% block content %}
<h2 class="mb-4 text-center">Catálogo de Joyas</h2>

<div class="row">
    {% for producto in productos %}
        <div class="col-md-4 mb-4">
            <div class="card shadow-sm">
                {% if producto.imagenes.first %}
                    <img src="{{ producto.imagenes.first.imagen.url }}" class="card-img-top" alt="{{ producto.nombre }}">
                {% else %}
                    <img src="https://via.placeholder.com/400x300?text=Sin+imagen" class="card-img-top" alt="Sin imagen">
                {% endif %}
                <div class="card-body text-center">
                    <h5 class="card-title">{{ producto.nombre }}</h5>
                    <p class="card-text">${{ producto.precio_venta }}</p>
                    <a href="{% url 'detalle_producto' producto.id %}" class="btn btn-outline-dark">Ver más</a>
                </div>
            </div>
        </div>
    {% empty %}
        <p>No hay productos disponibles.</p>
    {% endfor %}
</div>
{% endblock %}
