{% extends 'base.html' %}
{% block title %}Mi perfil - Juma Joyas{% endblock %}
{% block content %}
<div class="container mt-5">
    <div class="card shadow-sm">
        <div class="card-body">
            <h3 class="text-center mb-4">Perfil de {{ user.username }}</h3>
            <p><strong>Nombre:</strong> {{ user.first_name }}</p>
            <p><strong>Apellido:</strong> {{ user.last_name }}</p>
            <p><strong>Email:</strong> {{ user.email }}</p>
            <a href="{% url 'logout' %}" class="btn btn-dark">Cerrar sesión</a>
        </div>
    </div>
</div>
{% endblock %}
